:root {
  --hero-offset-y: 56px;
}

#page-landing {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: var(--color-primary);
}

#page-landing .wrapper {
  padding: 0 16px;
}

#page-landing header {
  min-height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px 0;
}

#page-landing header img {
  width: 32px;
}

#page-landing header h1 {
  font: 700 2.4rem Poppins, sans-serif;
  line-height: 3.2rem;
}

#page-landing main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#page-landing .hero-image {
  display: flex;
  justify-content: center;
}

#page-landing .hero-image img {
  width: 90%;
  max-width: 270px;
  transform: translateY(var(--hero-offset-y));
  margin-top: calc(var(--hero-offset-y) * -1);
}

#page-landing main .actions {
  flex: 1;
  background: var(--color-secondary);
}

#page-landing main .actions div.wrapper {
  margin-top: calc(var(--hero-offset-y) + 32px);
  margin-bottom: 16px;
}

#page-landing main .actions div {
  margin-top: 32px;
}

#page-landing main .actions div h3 {
  font: 500 2.4rem Poppins, sans-serif;
  line-height: 3.2rem;
  color: var(--color-text);
  margin-bottom: 2.4rem;
}

#page-landing main .actions div a {
  width: 100%;
  min-height: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 700 1.6rem Montserrat, sans-serif;
  color: var(--color-text);
  text-decoration: none;
  border-radius: 0.8rem;
  background: var(--color-button);
}

#page-landing main .actions div img {
  margin-right: 0.8rem;
  width: 1.6rem;
  height: 1.6rem;
}

@media (min-width: 768px) {
  :root {
    --hero-offset-y: 0;
  }

  #page-landing .wrapper {
    padding: 0;
  }

  #page-landing header {
    justify-content: flex-start;
  }

  #page-landing header img {
    margin-right: 24px;
  }

  #page-landing .hero-image {
    flex: 2;
    align-items: center;
  }

  #page-landing .hero-image img {
    max-width: none;
    max-height: 368px;
    margin: 0;
  }

  #page-landing main .actions .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 32px;
    align-items: center;
  }
  #page-landing main .actions div.wrapper {
    margin: 32px auto;
  }

  #page-landing .actions .wrapper div {
    margin: 0;
  }
}
